.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
.min-h-dialog {
  min-height: 300px;
}

.w-fit {
  max-width: fit-content;
}

.font-32 {
  font-size: 32px;
}

.row {
  display: flex;
  align-items: center;
}
.reversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row-start {
  display: flex;
  justify-content: start;
}

.row-end {
  display: flex;
  justify-content: end;
}

.col-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row-stretch {
  display: flex;
  align-items: stretch;
}

.row-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-around {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.gap-25 {
  gap: 25px;
}

.gap {
  gap: 15px;
}

.p {
  padding: 15px;
}

.px {
  padding: 0 15px;
}

.py {
  padding: 15px 0;
}

.pl {
  padding-left: 15px;
}
.pb {
  padding-bottom: 15px;
}

.m-0 {
  margin: 0;
}

.m {
  margin: 15px;
}

.br {
  border-radius: 15px;
}
.br-6 {
  border-radius: 6px;
}

.capitalize {
  text-transform: capitalize;
}

.word-break {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* General Styles */
* {
  list-style: none;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  min-width: 360px;
}

input {
  width: 100%;
}

.p-button-link {
  width: fit-content;
  margin: 0 auto;
}

ul {
  padding-inline-start: 0;
}

.p-dialog {
  width: 500px;
  height: 500px;
  max-height: 100%;
  max-width: 100%;
}

.p-dialog-content {
  height: 420px;
}

.p-stepper-nav {
  padding-bottom: 15px;
}

.swiper-slide-shadow {
  display: none !important;
}

.transition {
  transition: all 0.5s;
}

.swiper {
  width: inherit;
  max-width: 100%;
  padding: 20px 0 !important;
}

.p-stepper-horizontal {
  height: 100%;
  .p-stepper-panels {
    min-height: 320px;
    .p-stepper-content {
      min-height: 320px;
    }
  }
}

.cardSurface {
  background-color: var(--surface-card);
}

.gradientBg {
  background: linear-gradient(225deg, var(--primary-900), var(--surface-card));
}

/* Layout */

.layout {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  transition: all 0.5s;
}

.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  background: var(--primary-900);
  z-index: 6;
  top: 0;
}

.aside {
  height: 100vh;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  padding: 15px;
  border-right: 2px solid var(--primary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main {
  width: 85vw;
  position: relative;
  margin-left: 15vw;
  transition: all 0.5s;
}

.p-sidebar {
  transition: transform 0.5s;
}

.p-sidebar-left {
  .p-sidebar {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 2px solid var(--primary-color);
  }
}

.p-sidebar-right {
  .p-sidebar {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.footer {
  width: 85vw;
  height: fit-content;
  background-color: var(--surface-0);
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  border-top: 2px solid var(--primary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1105;
  transition: all 0.5s;
}

.logo {
  width: 50%;
  height: auto;
  fill: var(--primary-color);
}
/* 
.queueSidebar {
  background: linear-gradient(-150deg, var(--primary-900), var(--surface-card));
} */

/* Home Page */

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: all 0.3s;
}

.card {
  width: 240px;
  max-width: 240px;
  height: 100%;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  border: 2px solid transparent;
  background: linear-gradient(225deg, var(--primary-900), var(--surface-card))
    border-box;
}

.p-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-card-header {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-card-body {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem 0rem 0.5rem;
  gap: 15px;
  justify-content: space-between;
  transition: all 0.3s;
}

.cardSpeedial {
  top: 220px;
  left: 5px;
  z-index: 5;
}

.cardPlayButton {
  transition: all 0.3s;
}

.cardMask {
  background-color: var(--surface-ground);
  border-radius: 15px;
}

.p-speeddial-mask-visible {
  opacity: 0.4;
}

.p-speeddial-action {
  color: var(--primary-color);
  background-color: var(--primary-900);
  text-decoration: none;
}

.p-speeddial-action:hover {
  color: var(--primary-100);
}

.cardSpeedialButton {
  background: transparent;
  border: none;
  padding: 0;
  color: var(--primary-color);
  transition: all 0.3s;
  transform: rotate(90deg);
}

.pi-ban {
  color: var(--red-600);
}

.pi-trash {
  color: var(--red-400);
}

.queueSidebar {
  height: 100%;
  padding-bottom: 100px;
}

.playlist {
}

.searchBar {
  width: 50%;
}

.searchButton {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.showAutoComplete {
  width: 80%;
  opacity: 1;
  #autoCompleteInput {
    border-radius: 6px;
  }
}

.hideAutoComplete#autoCompleteInput,
.hideAutoComplete input {
  width: 0%;
  opacity: 0;
  padding: 0;
}

.seekBackwardBadge,
.seekForwardBadge {
  margin: 0;
  padding: 0;
  background: none;
  color: var(--primary-color);
  position: absolute;
  top: 0;
}
.seekButton {
  .p-button-label {
    width: 0;
  }
}
.seekBackwardBadge {
  left: 0;
}
.seekForwardBadge {
  right: 0;
}

.player {
  width: 30vw;
  .p-slider-handle {
    opacity: 0;
  }
}
.playerWrapper:hover {
  .p-slider-handle {
    opacity: 1;
  }
}

.playerText {
  min-width: 32px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playerPodcastInfo {
  max-width: 30%;
}

.volumeWrapper {
  position: relative;
}
.volumeSlider {
  position: absolute;
  width: 12px;
  top: 0px;
  transform: translateY(-100%);
  height: 0px;
  opacity: 0;

  .p-slider-range {
    padding: 0 5px;
  }
  .p-slider-handle {
    display: none !important;
    width: 0;
    height: 0;
    /* opacity: 0; */
  }
  .p-slider-handle::before {
    display: none !important;
  }
}
.volumeWrapper:hover {
  .volumeSlider {
    height: 70px;
    opacity: 1;
  }
}

/* Search Page */
.typeCardContainer {
  flex-wrap: wrap;

  .typeCardWrapper {
    position: relative;
    width: 20%;

    .typeCardImage {
      width: 100%;
    }

    .typeCardTitle {
      width: 100%;
      position: absolute;
      text-align: center;
      top: 60%;
    }
  }
}

/* Profile Page */

.updateAvatar {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  .p-button-label {
    display: none;
  }
  .p-button-icon {
    margin: 0;
  }
}

.p-stepper-nav {
  z-index: 1;
}

.maksLength {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.p-panel-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

/* .usersPodcast:hover {
  .podcastFooterHover {
    display: flex;
  }
}

.podcastFooterHover {
  display: none;
} */
.showOnEpisodeHover {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s;
}
.episodeWrapper:hover {
  .showOnEpisodeHover {
    visibility: visible;
    opacity: 1;
  }
}

.settingSpeedialButton {
  color: var(--primary-color);
  background: none;
  border: none;
}

/* .p-panel {
  background: linear-gradient(225deg, var(--primary-800), var(--surface-card));
}
.p-panel-header {
  background-color: var(--surface-card);
  margin: 15px;
  border-radius: 15px;
} */

/* Responsive Styles */

@media (min-width: 1025px) {
  .lg-p {
    padding: 15px;
  }
  .lg-gap {
    gap: 15px;
  }

  .container {
    padding: 15px;
  }

  .header {
    display: none;
  }

  .sidebarButton {
    display: none;
  }

  .cardPlayButton {
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 0px;
    width: 0px;
    opacity: 0;
    filter: drop-shadow(0 5px 5px var(--surface-ground));
  }
  .playIcon {
    padding-left: 3px;
  }

  .card:hover {
    background: linear-gradient(225deg, var(--primary-800), var(--surface-card))
      border-box;
    .cardImage {
      transform: scale(105%);
    }
    .cardPlayButton {
      width: 45.6px;
      height: 45.6px;
      opacity: 1;
    }
  }
}

@media (max-width: 1440px) {
  .main {
    width: 80vw;
    margin-left: 20vw;
  }
  .footer {
    width: 80vw;
  }

  .aside {
    width: 20vw;
  }
  .player {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .res-p {
    padding: 10px;
  }
  .res-gap {
    gap: 10px;
  }

  .max-lg-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .max-lg-col {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .max-lg-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .max-lg-none {
    display: none;
  }

  .layout {
    padding-top: 50px;
  }

  .main {
    width: 100vw;
    margin: 0;
  }
  .footer {
    width: 100vw;
  }
  .aside {
    display: none;
  }

  .mainSlider {
    width: 100vw;
  }

  .queue {
    display: none;
  }
  /* .player {
    width: 50vw;
  } */
}
@media (max-width: 768px) {
  .res-p {
    padding: 8px;
  }
  .res-gap {
    gap: 8px;
  }

  .popupComponent {
    height: 100%;
  }
  .createPodcastStepper {
    height: 100%;
    .p-stepper-number {
      width: 16px;
      height: 16px;
      min-width: 14px;
      font-size: 0.7rem;
    }
  }

  .queueSidebar {
    height: 100%;
  }

  .player {
    width: 100px;
  }
  .playerImage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .playerText {
    font-size: 12px;
    -webkit-line-clamp: 2;
  }
  .playerButton {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 425px) {
  .res-p {
    padding: 5px;
  }
  .res-gap {
    gap: 5px;
  }

  .max-sm-none {
    display: none;
  }

  .playerText {
    max-width: 50px;
  }

  .createPodcastStepper {
    .p-stepper-number {
      display: none;
    }
    .p-stepper-title {
      font-size: 0.7rem;
    }
  }
}
