.w-full {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-end {
  display: flex;
  justify-content: end;
}

.col-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gap {
  gap: 15px;
}

.p {
  padding: 15px;
}

.px {
  padding: 0 15px;
}

.py {
  padding: 15px 0;
}

.pl {
  padding-left: 15px;
}

/* General Styles */
* {
  list-style: none;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  min-width: 360px;
}

input {
  width: 100%;
}

.p-button-link {
  width: fit-content;
  margin: 0 auto;
}

ul {
  padding-inline-start: 0;
}

.p-dialog {
  max-height: 100%;
}

.swiper-slide-shadow {
  display: none !important;
}

.transition {
  transition: all 0.5s;
}

.swiper {
  width: inherit;
  max-width: 100%;
  padding: 20px 0 !important;
}

/* Layout */

.layout {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  transition: all 0.5s;
}

.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
}

.aside {
  height: 100vh;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  padding: 15px;
  border-right: 2px solid var(--primary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main {
  width: 85vw;
  position: relative;
  margin-left: 15vw;
  transition: all 0.5s;
  .showPlaylistButton {
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: 10;
  }
}

.p-sidebar {
  transition: transform 0.5s;
}

.p-sidebar-left {
  .p-sidebar {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 2px solid var(--primary-color);
  }
}

.p-sidebar-right {
  .p-sidebar {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 2px solid var(--primary-color);
  }
}

/* Home Page */

.p-card-header,
.p-card-body {
  height: 50%;
}

.p-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-card-body {
  gap: 0;
  justify-content: space-between;
}

.cardSpeedial {
  bottom: 24px;
  z-index: 5;
}

.cardMask {
  background-color: var(--primary-900);
  border-radius: 15px;
}
.p-speeddial-mask-visible {
  opacity: 0.4;
}

.p-speeddial-action {
  color: var(--primary-color);
  background-color: var(--primary-900);
  text-decoration: none;
}
.p-speeddial-action:hover {
  color: var(--primary-100);
}
.pi-ban {
  color: var(--red-600);
}

/* Responsive Styles */

@media (min-width: 1025px) {
  .container {
    padding: 15px;
  }

  .header {
    display: none;
  }

  .sidebarButton {
    display: none;
  }
}

@media (max-width: 1440px) {
  .main {
    width: 75vw;
    margin-left: 25vw;
  }

  .aside {
    width: 25vw;
  }
}

@media (max-width: 1024px) {
  .layout {
    padding-top: 50px;
  }

  .main {
    width: 100vw;
    margin: 0;
  }

  .aside {
    display: none;
  }

  .showPlaylistButton {
    display: none;
  }

  .bigSlider {
    width: 100vw;
  }

  .queue {
    display: none;
  }

  .bigSliderImage {
    width: 30vw;
  }
}
@media (max-width: 768px) {
  .bigSliderImage {
    width: 50vw;
  }
}
